# Aircraft Engine Maintenance 
## Manutenção de motores de aeronaves
(Dataset adiquirido na Kaggle)

**Sobre o conjunto de dados**

     O conjunto de dados trata da manutenção de motores de aeronaves tomando os parâmetros como Tipo de Motor,Tipo de Combustível, Combustão e durabilidade. A precisão da condição do motor pode ser obtida usando algoritmos de regressão de ML, como Máquina de vetor de suporte de árvore de decisão de floresta aleatória de rede neural convencional.

In [22]:
# Exportar dados

import pandas as pd 

tabela = pd.read_csv("Aircraft_Engine_Maintenance_final.csv")
display (tabela)

,Model,Company,Engine Type,Multi Engine,TP mods,THR,SHP,Length,Height,Wing Span,...,Vstall,Hmax,Hmax (One),ROC,ROC (One),Vlo,Slo,Vl,Sl,Range
0,15 AC Sedan,Aeronca,Piston,NaN,False,NaN,145.0,25.250000,10.250000,37.416667,...,46.0,13000.0,NaN,450.0,NaN,900.0,NaN,1300.0,NaN,370.0
1,11 CC Super Chief,Aeronca,Piston,NaN,False,NaN,85.0,20.583333,8.750000,36.083333,...,44.0,12300.0,NaN,600.0,NaN,720.0,NaN,800.0,NaN,190.0
2,7 CCM Champ,Aeronca,Piston,NaN,False,NaN,90.0,21.416667,8.583333,35.000000,...,37.0,16000.0,NaN,650.0,NaN,475.0,NaN,850.0,NaN,210.0
3,7 DC Champ,Aeronca,Piston,NaN,False,NaN,85.0,21.416667,8.583333,35.000000,...,37.0,13000.0,NaN,620.0,NaN,500.0,NaN,850.0,NaN,210.0
4,7 AC Champ,Aeronca,Piston,NaN,False,NaN,65.0,21.416667,8.750000,35.000000,...,33.0,12500.0,NaN,370.0,NaN,632.0,NaN,885.0,NaN,175.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,500 A,Twin Commander A/C,Piston,True,False,NaN,260.0,35.083333,14.416667,49.416667,...,54.0,22500.0,7850.0,1400.0,320.0,1210.0,970.0,1150.0,865.0,957.0
856,500,Twin Commander A/C,Piston,True,False,NaN,250.0,35.083333,14.416667,49.000000,...,55.0,22500.0,7150.0,1400.0,290.0,1250.0,1000.0,1350.0,950.0,957.0
857,520,Twin Commander A/C,Piston,True,False,NaN,260.0,35.416667,14.416667,44.083333,...,52.0,24000.0,8500.0,1700.0,400.0,1100.0,950.0,1050.0,900.0,1000.0
858,2180,Varga,Piston,NaN,False,NaN,180.0,21.166667,7.000000,30.000000,...,45.0,22000.0,NaN,1310.0,NaN,NaN,NaN,NaN,NaN,365.0
859,2150A Kachina,Varga,Piston,NaN,False,NaN,150.0,21.166667,7.000000,30.000000,...,45.0,22000.0,NaN,910.0,NaN,NaN,NaN,NaN,NaN,380.0

In [23]:
# Identificando valores da tabela.
# Se existe campos vazios que podem atrapalhar na analise dos dados.

display (tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Model         860 non-null    object
 1   Company       860 non-null    object
 2   Engine Type   860 non-null    object
 3   Multi Engine  381 non-null    object
 4   TP mods       860 non-null    bool
 5   THR           156 non-null    float64
 6   SHP           704 non-null    float64
 7   Length        846 non-null    float64
 8   Height        843 non-null    float64
 9   Wing Span     856 non-null    float64
 10  FW            855 non-null    float64
 11  MEW           840 non-null    float64
 12  AUW           857 non-null    float64
 13  Vmax          817 non-null    float64
 14  Vcruise       838 non-null    float64
 15  Vstall        762 non-null    float64
 16  Hmax          827 non-null    float64
 17  Hmax (One)    361 non-null    float64
 18  ROC           798 non-null    float64
 19  ROC (One)     373 non-null    float64
 20  Vlo           738 non-null    float64
 21  Slo           719 non-null    float64
 22  Vl            735 non-null    float64
 23  Sl            687 non-null    float64
 24  Range         815 non-null    float64
dtypes: bool(1), float64(20), object(4)
memory usage: 162.2+ KB

None

In [24]:
# Quantidade e tipos motores.

display (tabela["Engine Type"].value_counts())
display (tabela["Engine Type"].value_counts(normalize=True).map("{:.1%}".format))

# Só temos uma tipo de motor no Dataset.

Engine Type
Piston     609
Jet        156
Propjet     95
Name: count, dtype: int64

Engine Type
Piston     70.8%
Jet        18.1%
Propjet    11.0%
Name: proportion, dtype: object

In [25]:
# Analisando dados do motor.

display(tabela["Company"].value_counts())
display(tabela["Company"].value_counts(normalize=True).map("{:.1%}".format))

Company
Cessna Aircraft Company                   204
Piper Aircraft                            111
Beechcraft (Hawker Beechcraft)            102
Bombardier Aerospace Business Aircraft     45
Twin Commander A/C                         29
                                         ...
Quest Aircraft                              1
B Bar D Aviation, Inc.                      1
Pilatus Business Aircraft                   1
Eurofox, Rollison LSA Inc                   1
Piaggio America                             1
Name: count, Length: 67, dtype: int64

Company
Cessna Aircraft Company                   23.7%
Piper Aircraft                            12.9%
Beechcraft (Hawker Beechcraft)            11.9%
Bombardier Aerospace Business Aircraft     5.2%
Twin Commander A/C                         3.4%
                                          ...
Quest Aircraft                             0.1%
B Bar D Aviation, Inc.                     0.1%
Pilatus Business Aircraft                  0.1%
Eurofox, Rollison LSA Inc                  0.1%
Piaggio America                            0.1%
Name: proportion, Length: 67, dtype: object